<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="hello">Hello, I'm</h1>
<p class="name">Pius Ashogbon</p>
<p class="title">Software Developer | WordPress Developer</p>
<p class="des">I am a software developer with experience working on complex software development initiatives. I'm also a WordPress Developer with 4 years of experience working on creating and designing WordPress sites using Elementor and Wp bakery.
</p>
<div class="py-3">

    <button class="btn">Download Resume</button>
</div>
            </div>
            <div class="col-lg-6">
                 <div class="img-col">

                <img src="/assets/images/logo.jpg" style="height: 100%;" alt=""></div>
            </div>
        </div>
    </div>
</section>
