<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand px-5" href="#">
      <img
        src="/assets/images/logo.jpg"
        style="height: 50; width: 50px"
        alt="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main_nav"
    >
      <span class="navbar-toggler-icon"
        ><i class="bi bi-distribute-vertical py-2 text-white"></i></span>
    </button>
    <div class="collapse navbar-collapse lg-px-5" id="main_nav">
      <ul class="navbar-nav px-5">
        <li class="nav-item">
          <a class="nav-link me-3" href="#home"> Home </a>
        </li>
        <!-- <a class="nav-link" href="http://">Apply</a> -->
        <li class="nav-item">
          <a class="nav-link me-3" href="#about"> About </a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="#skills"> Skills </a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="#projects"> Projects </a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="#experience"> Experience </a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="#education"> Education </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link me-3" href="#certificate"> Certification </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#contact"> Contact </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <div class="icons">
          <!-- Add font awesome icons -->
          <a
            href="https://www.github.com/PiusAsh/"
            target="_blank"
            class="bi bi-github me-5"
          ></a>
          <a
            href="https://www.facebook.com/piusashohgbon.godwin/"
            target="_blank"
            class="bi bi-facebook me-5"
          ></a>
          <a
            href="https://twitter.com/Ashnaija"
            target="_blank"
            class="me-5 bi bi-twitter"
          ></a>
          <a
            href="https://www.linkedin.com/in/piusash/"
            target="_blank"
            class="me-5 bi bi-linkedin"
          ></a>
          <a
            href="https://www.instagram.com/in/piusash/"
            target="_blank"
            class="bi bi-instagram"
          ></a>
        </div>
      </ul>
    </div>
  </div>
</nav>

<!-- Navbar -->
<div class="container" id="home">
  <div class="row mt-4">
    <div class="col-lg-7">
      <h1 class="hello">Hello, I'm</h1>
      <p class="name">Pius Ashogbon</p>
      <p class="titlehead">Software Developer (Angular | .NET | WordPress)</p>
      <p class="deshero mt-1">
        An excellent Software Developer adept at creating, optimizing, and refining software solutions. Dedicated to efficient code, improved user experiences, and driving innovation. I'm committed to enhancing company value through technical expertise and problem-solving prowess.
      </p>
      <div class="py-3">
        <a class="btnhero" href="/assets/images/Pius Ashogbon - Software Developer.pdf" download>Download Resume</a>
        <!-- <button class="btnhero">Download Resume</button> -->
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
      <div class="">
        <img class="" style="border-radius: 30px; width: 400px; height: 400px;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); background-repeat: no-repeat; background-size: contain;" src="/assets/images/ash.jpg" alt="">
      </div>
      <!-- <div class="img-col"> -->
        <!-- <div class="imgg"></div> -->
        <!-- <img class="imgg" src="/assets/images/me.jpg" style="height: 20%" alt="Pius" /> -->
      <!-- </div> -->
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>

<!-- ABOUT ME -->
<div class="row bg-light py-5" id="about">
  <div class="container py-5">
    <div class="container text-left">
      <p class="tileabout text">INNOVATIVE SOLUTIONS</p>
      <p class="sub py-3">To boost your creative projects</p>
      <p class="desabout">
        Experienced Software Developer skilled in developing dynamic Fintech Applications for banks and other applications using <b class="fs-5">Angular</b> and  <b class="fs-5"> .NET</b>
<br><br>
        Leveraging this expertise, I have also developed a range of impactful websites, including e-commerce platforms, Learning Management System (LMS), business sites, and blogs, using <b class="fs-5"> WordPress</b>. <br> My strong SEO setup and comprehensive understanding of web hosting, cPanel, and deployment practices ensure top-notch solutions. Additionally, my proficiency extends to <b class="fs-5"> SQL</b> and <b class="fs-5"> Sybase</b>, enhancing my ability to create robust and efficient applications that meet diverse business needs.
      </p>
      <!-- <p class="desabout">
I'm a software developer proficient in building and optimizing software solutions. Bringing a consistent record of producing quality deliverables. Contributes expertise to all stages of the software development lifecycle. <br>
Proficient <b class="fs-5">Software Developer</b> & <b class="fs-5">WordPress Developer</b> with years of experience in the industry. Excellent reputation for resolving problems and improving customer satisfaction.
      </p> -->
    </div>
  </div>
</div>

<!-- SKILLS -->

<div class="container" id="skills">
  <div class="row py-5">
    <div class="text-left">
      <p class="tile text">SKILLS</p>
      <p class="sub">To boost your creative projects</p>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <div class="content-column-content">
          <!-- Expertise Section        -->
          <section class="">
            <div class="container py-5">
              <div class="row mb-5">
                <div class="col-md-6">
                  <h3 class="h4 fw-bold">
                    <span class="SN fw-bold me-2">01</span>Angular
                  </h3>
                  <p class="text-sm ms-4 ps-3">
                    <ul class=" text-sm ms-4 ps-3">
                    <li>HTTP and Observables</li>
                    <!-- <li>State Management</li> -->
                    <li>Components and Templates</li>
                    <li>Modules and Dependency Injection</li>
                    <li>Services and Dependency Injection</li>
                    <li>Error Handling and Debugging</li>


                  </ul>

                </div>
                <div class="col-md-6">
                  <h3 class="h4 fw-bold">
                    <span class="SN fw-bold me-2">02</span> .NET
                  </h3>
                  <p class="text-sm ms-4 ps-3">
                    <ul class=" text-sm ms-4 ps-3">

                      <li>C# Programming</li>
                    <li>ASP.Net Core Web API</li>
                    <li>Repository Pattern, and Dependency Injection.</li>
                    <li>Entity Framework Core</li>
                    <li>Monitoring and Logging</li>




                  </ul>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <h3 class="h4 fw-bold">
                    <span class="SN fw-bold me-2">03</span>WordPress
                  </h3>
                  <p class="text-sm ms-4 ps-3">
<ul class=" text-sm ms-4 ps-3">
                    <li>Elementor Free & Pro</li>
                    <li>WPBakery</li>
                    <li>Theme Customization</li>
                    <li>Search Engine Optimization (SEO)</li>
                    <li>HTML, CSS, JavaScript</li>

                  </ul>

                </div>
                <div class="col-md-6">
                  <h3 class="h4 fw-bold">
                    <span class="SN fw-bold me-2">04</span>Hosting & Deployment
                  </h3>
<ul class=" text-sm ms-4 ps-3">
                    <li>Web Hosting</li>
                    <li>cPanel</li>
                    <li>Internet Information Service (IIS)</li>



                  </ul>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <h3 class="h4 fw-bold">
                    <span class="SN fw-bold me-2">05</span>Database Management
                  </h3>
                  <p class="text-muted text-sm ms-4 ps-3">
                    <!-- <p class="fw-bold">Familiar with:</p> -->
<ul class=" text-sm ms-4 ps-3">
                    <li>Microsoft SQL Server</li>
                    <li>Sybase</li>
                  </ul>

                </div>
                <div class="col-md-6">
                  <h3 class="h4 fw-bold">
                    <span class="SN fw-bold me-2">06</span>API Testing
                  </h3>
                  <p class="text-muted text-sm ms-4 ps-3">
                    <!-- <p class="fw-bold">Familiar with:</p> -->
<ul class=" text-sm ms-4 ps-3">
                    <li>Postman</li>
                    <li>Swagger</li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <h3 class="h4 fw-bold">
                    <span class="SN fw-bold me-2">07</span>VCS & Collaboration
                  </h3>
                  <p class="text-muted text-sm ms-4 ps-3">
                    <!-- <p class="fw-bold">Familiar with:</p> -->
<ul class=" text-sm ms-4 ps-3">
                    <li>Bitbucket</li>
                    <li>GitHub</li>
                    <li>Slack</li>
                  </ul>

                </div>
                <div class="col-md-6">
                  <h3 class="h4 fw-bold">
                    <span class="SN fw-bold me-2">08</span>Design & Graphics
                  </h3>
                  <p class="text-muted text-sm ms-4 ps-3">
                    <!-- <p class="fw-bold">Familiar with:</p> -->
<ul class=" text-sm ms-4 ps-3">
                    <li>Canva</li>
                    <li>Pixellab</li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PROJECT -->
<div class="row bg-light py-5" id="projects">
  <div class="container py-5">
    <div class="container text-left">
      <p class="tile text">PROJECTS</p>
      <p class="sub mb-3">To boost your creative projects</p>

      <nav class="text-center tabb py-3">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button
            class="nav-link active"
            id="nav-home-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-home"
            type="button"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
          >
            Angular
          </button>
          <button
            class="nav-link"
            id="nav-asp-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-asp"
            type="button"
            role="tab"
            aria-controls="nav-asp"
            aria-selected="true"
          >
            ASP.NET Web API
          </button>
          <button
            class="nav-link"
            id="nav-profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-profile"
            type="button"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
          >
            WordPress
          </button>

          <button
            class="nav-link"
            id="nav-design-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-design"
            type="button"
            role="tab"
            aria-controls="nav-design"
            aria-selected="false"
          >
            Graphic Design
          </button>

        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
        >
          <div class="row">
            <!-- <div class="col-lg-1"></div> -->
            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img style="height: 160px;"
                    src="/assets/images/hotel.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="rating"></p>
                <div class="card-body">
                  <h5 class="card-title text-center">Hotel Management System v2</h5>
                  <p class="card-text"></p>
                  <ul class="card-text">
                    <li>Authentication & Authorization</li>
                    <li>Payment Gateway Integration</li>
                    <li>User dashboard</li>
                    <li>Booking system</li>
                    <li>Admin dashboard</li>
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" href="https://github.com/PiusAsh/Hotel-Management-System-v2"
                  ><p class="book">Preview</p></a
                >
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img style="height: 160px;"
                    src="/assets/images/loan.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="rating"></p>

                <div class="card-body">
                  <h5 class="card-title text-center">Ashmoney: Banking & Loans</h5>
                  <p class="card-text"></p>
                  <ul class="card-text">
                    <li>Loan Management</li>
                    <li>Fund Transfer</li>
                    <li>Recieve Fund</li>
                    <li>User dashboard</li>
                    <li>Admin dashboard</li>
                    <!-- <li>Authentication & Authorization</li> -->
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" href="https://github.com/PiusAsh/ASHMONEY-WEB"
                  ><p class="book">Preview</p></a
                >
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img style="height: 160px;"
                    src="/assets/images/hotel.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="rating"></p>
                <div class="card-body">
                  <h5 class="card-title text-center">Hotel Management System V1</h5>
                  <p class="card-text"></p>
                  <ul class="card-text">
                    <li>Authentication & Authorization</li>
                    <li>Payment Gateway Integration</li>
                    <li>User dashboard</li>
                    <li>Booking system</li>
                    <li>Admin dashboard</li>
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" href="https://github.com/PiusAsh/Hotel-Management-System-v2"
                  ><p class="book">Preview</p></a
                >

                </div>
              </div>
            </div>


            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img style="height: 160px;"
                    src="/assets/images/brain.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="rating"></p>
                <div class="card-body">
                  <h5 class="card-title text-center">Braintech Website</h5>
                  <p class="card-text"></p>
                  <ul class="card-text">
                    <li>Homepage</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Blog</li>
                    <li>Contact</li>
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" href="https://braina.netlify.app/"
                    ><p class="book">Preview</p></a
                  >
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img
                    src="/assets/images/hotel1.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="rating"></p>
                <div class="card-body">
                  <h5 class="card-title text-center">Hotel Website</h5>
                  <p class="card-text"></p>
                  <ul class="card-text">
                    <li>CRUD OPERATION ONLY</li>
                    <li>POST</li>
                    <li>PUT</li>
                    <li>GET</li>
                    <li>UPDATE</li>
                    <li>DELETE</li>
                  </ul>

                  <a class="text-decoration-none text-white" routerLink="/room"
                    ><p class="book">Preview</p></a
                  >
                </div>
              </div>
            </div> -->

            <!-- <div class="col-lg-1"></div> -->
          </div>
        </div>

        <!-- ASP.NET|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
        <div
          class="tab-pane fade"
          id="nav-asp"
          role="tabpanel"
          aria-labelledby="nav-asp-tab"
        >
        <div class="row">
          <!-- <div class="col-lg-1"></div> -->
          <div class="col-lg-3">
            <div class="card shadow mb-3">
              <div>
                <img style="height: 160px;"
                  src="/assets/images/ashhotelv2.PNG"
                  alt="hotel"
                  class="card-img-top"
                />
              </div>
              <p class="asp"></p>
              <div class="card-body">
                <h5 class="card-title text-center">Ash Hotel API v2</h5>
                <p class="card-text"></p>
                <ul class="card-text">

                  <li>Authentication and Authorization</li>
                  <li>Repository Pattern</li>
                  <li>Code First</li>
                  <li>Monitoring & Logging</li>
                  <li>Mapping</li>

                </ul>
                <!-- </p> -->
                <a class="text-decoration-none text-white" href="https://github.com/PiusAsh/AshHotelManagementAPI" target="_blank">
                  <p class="book">Preview</p>
                </a>


              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card shadow mb-3">
              <div>
                <img style="height: 160px;"
                  src="/assets/images/ashmoneyv1.PNG"
                  alt="hotel"
                  class="card-img-top"
                />
              </div>
              <p class="asp"></p>
              <div class="card-body">
                <h5 class="card-title text-center">ASH Money API v1</h5>
                <p class="card-text"></p>
                <ul class="card-text">
                  <li>Fund Transfer</li>
                  <li>Receive Fund</li>
                  <li>Loan Management</li>
                  <li>CRUD Operations</li>
                  <li>Authentication and Authorization</li>

                </ul>
                <!-- </p> -->
                <a class="text-decoration-none text-white" href=": https://github.com/PiusAsh/ASHMONEY-API" target="_blank">
                  <p class="book">Preview</p>
                </a>


              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card shadow mb-3">
              <div>
                <img style="height: 160px;"
                  src="/assets/images/ashhotelv1.PNG"
                  alt="hotel"
                  class="card-img-top"
                />
              </div>
              <p class="asp"></p>
              <div class="card-body">
                <h5 class="card-title text-center">Ash Hotel API v1</h5>
                <p class="card-text"></p>
                <ul class="card-text">

                  <li>Authentication and Authorization</li>
                  <li>Users</li>
                  <li>Rooms</li>
                  <li>Booking</li>
                  <li>CRUD Operations</li>

                </ul>
                <!-- </p> -->
                <a class="text-decoration-none text-white" href="http://ashhotelapi.somee.com/swagger/" target="_blank">
                  <p class="book">Preview</p>
                </a>


              </div>
            </div>
          </div>





          <!-- <div class="col-lg-1"></div> -->
        </div>
        </div>
                <!--END OF ASP.NET|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

                <!--|||||||||||||||||||||||||||| GRAPHIC DESIGN ||||||||||||||||||||||||||||||||||||||||||||-->
        <div
          class="tab-pane fade"
          id="nav-design"
          role="tabpanel"
          aria-labelledby="nav-design-tab"
        >
        <p class="text-center mt-2 mb-3">I have uploaded the graphics I designed to a Google Drive. click the button below to them </p>
        <a class="text-decoration-none text-white text-center mt-2" href="https://drive.google.com/drive/folders/1BuM-JHyBqFB3qqr2Tii2n0tx9izJOrM3" target="_blank">
          <p class="book">CLICK HERE TO VIEW ALL </p>
        </a>
        </div>

        <!-- END OF GRAPHIC DESIGN |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->


        <!-- WORDPRESS TAB -->
        <div
          class="tab-pane fade"
          id="nav-profile"
          role="tabpanel"
          aria-labelledby="nav-profile-tab"
        >
          <div class="row">
            <!-- <div class="col-lg-1"></div> -->
            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img style="height: 160px;"
                    src="/assets/images/ultra laundry.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="wp"></p>
                <div class="card-body">
                  <h5 class="card-title text-center">Ultra Laundry Website</h5>
                  <p class="card-text"></p>
                  <ul class="card-text">

                    <li>Homepage</li>
                    <li>About Page</li>
                    <li>Services Page</li>
                    <li>Contact Page</li>
                    <li>Search Engine Optimization</li>
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" href="https://ultralaundry.com.ng/" target="_blank">
                    <p class="book">Preview</p>
                  </a>


                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img style="height: 160px;"
                    src="/assets/images/mgl ali.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="wp"></p>
                <div class="card-body">
                  <h5 class="card-title text-center">Army General Porfolio</h5>
                  <p class="card-text"></p>
                  <ul class="card-text">
                    <li>Homepage</li>
                    <li>About Page</li>
                    <li>Services Page</li>
                    <li>Contact Page</li>
                    <li>Search Engine Optimization</li>
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" href="https://generalmgali.com/" target="_blank">
                    <p class="book">Preview</p>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img style="height: 160px;"
                    src="/assets/images/dunamis.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="wp"></p>
                <div class="card-body">
                  <h5 class="card-title text-center">Health Care Website</h5>
                  <p class="card-text"></p>
                  <ul class="card-text">
                    <li>Homepage</li>
                    <li>About Page</li>
                    <li>Services Page</li>
                    <li>Contact Page</li>
                    <li>Search Engine Optimization</li>
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" href="https://dunamiscare.com/" target="_blank">
                    <p class="book">Preview</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img style="height: 160px;"
                    src="/assets/images/json.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="wp"></p>
                <div class="card-body">
                  <h5 class="card-title text-center">Charity Organization Website</h5>
                  <p class="card-text"></p>
                  <ul class="card-text">
                    <li>Homepage</li>
                    <li>About Page</li>
                    <li>Services Page</li>
                    <li>Contact Page</li>
                    <li>Search Engine Optimization</li>
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" href="https://jasoncharity.org/" target="_blank">
                    <p class="book">Preview</p>
                  </a>
                </div>
              </div>
            </div>

            <!-- <div class="col-lg-1"></div> -->
          </div>
        </div>
        <!-- END OF WORDPRESS TAB -->

        <!-- REACT TAB -->
        <div
          class="tab-pane fade"
          id="nav-contact"
          role="tabpanel"
          aria-labelledby="nav-contact-tab"
        >
          <div class="row">
            <!-- <div class="col-lg-1"></div> -->
            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img
                    src="/assets/images/hotel.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="rating"></p>
                <div class="card-body">
                  <h5 class="card-title text-center">Hotel MGT System</h5>
                  <p class="card-text"></p>
                  <ul class="card-text">
                    <li>Authentication & Role based Authorization</li>
                    <li>Payment Gateway Integration</li>
                    <li>User dashboard</li>
                    <li>Booking system</li>
                    <li>Admin dashboard</li>
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" routerLink="/room"
                    ><p class="book">Project Info</p></a
                  >
                </div>
              </div>
            </div>


            <!-- <div class="col-lg-1"></div> -->
          </div>
        </div>

        <!-- END OF REACT TAB -->
      </div>


    </div>
  </div>
</div>

<!-- EXPERIENCE -->
<div class="row" id="experience">
  <div class="container py-5">
    <div class="container text-left">
      <p class="tile text">EXPERIENCE</p>
      <p class="sub">Yes, I've been around</p>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-xl-12">
          <div class="content-column-content">
            <!-- Education Section-->
            <section class="py-5">
              <div class="container">
                <!--  Timeline -->
                <ul class="timeline">
                  <!-- Timeline item-->
                  <li class="timeline-item pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row gx-0 gy-4">
                      <div class="col-lg-5">
                        <p class="date fw-bold mb-2 text-sm">March 2022 - Present</p>
                        <h2 class="h5 mb-0 fw-bold">Angular & .NET Developer</h2>
                        <p class="text-sm mb-0 text-black fw-800">
                          Information Engineering Technologies Limited
                        </p>
                        <span class="small text-muted">Lagos, Nigeria</span>
                      </div>
                      <div class="col-lg-7">
                        <p class="des py-2"></p>
                        <ul>
                          <li>
                          Developed international-standard applications for banks, ensuring regulatory compliance and security
                          </li>
                          <li>
                            Managed and enhanced existing codebase to add features and optimize functionalities.
                          </li>
                          <li>
                            Collaborating closely with teams, understanding and aligning with the banking industry's specific requirements and standards.
                          </li>
                          <li>
                            Demonstrated leadership and mentorship abilities by training interns and NYSC corps member.
                          </li>
                          <li>
                            Coordinated with cross-functional teams, including UI/UX designers and quality assurance professionals, to deliver high-quality, user-friendly applications.
                          </li>

                        </ul>
                        <ul>

                          <b
                            >Skills: Angular | ASP.NET Web API | C# | TypeScript | SQL Server | Sybase | Bootstrap | BitBucket | Slack</b
                          >
                        </ul>
                      </div>
                    </div>
                  </li>
                  <!-- Timeline item-->
                  <hr class="dropdown-divider mb-2" />
                  <li class="timeline-item pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row gx-0 gy-4">
                      <div class="col-lg-5">
                        <p class="date fw-bold mb-2 text-sm">
                          May 2022 - November 2022
                        </p>
                        <h2 class="h5 mb-0 fw-bold">WordPress Developer</h2>
                        <p class="text-sm mb-0">
                          Digitalweb Applications Development Limited
                        </p>
                        <span class="small text-muted">Lagos, Nigeria</span>
                      </div>
                      <div class="col-lg-7">
                        <p class="des py-2"></p>

                        <ul>
                          <li>
                            Build captivating websites with Elementor and WPBakery, utilizing HTML, CSS, and JavaScript for interactivity when needed.
                          </li>
                          <li>
                            Enhance existing websites, adding new features and seamless payment gateways like Paystack.
                          </li>
                          <li>Collaborate across teams to ensure cohesive design and functionality.</li>
                          <li>Communicate with clients for requirements and updates.</li>
                          <li>
                            Troubleshoot issues, ensuring optimal website performance.
                          </li>
                          <li>Optimize websites for SEO, improving visibility and search engine rankings. </li>

                        </ul>


                          <ul>

                            <b
                              >Skills: Theme Customization | Elementor | WPBakery | HTML |
                              CSS | JavaScript | Graphic Design </b
                            >
                          </ul>

                      </div>
                    </div>
                  </li>
                  <!-- Timeline item-->
                  <hr class="dropdown-divider mb-2" />
                  <li class="timeline-item pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row gx-0 gy-4">
                      <div class="col-lg-5">
                        <p class="date fw-bold mb-2 text-sm">
                          November 2021 - March 2022
                        </p>
                        <h2 class="h5 mb-0 fw-bold">
                          Frontend Developer
                        </h2>
                        <p class="text-sm mb-0">Innkeeper</p>
                        <span class="small text-muted">Lagos, Nigeria</span>
                      </div>
                      <div class="col-lg-7">
                        <p class="des py-2"></p>

                        <ul>
                          <li>
                            Developed websites using Angular, creating dynamic and responsive user interfaces.
                          </li>
                          <li>
                            Managed and maintained existing codebase, implementing updates and improvements for enhanced functionality.
                          </li>
                          <li>
                            Collaborated closely with UI/UX teams to ensure seamless integration of design and user experience.
                          </li>
                          <li>
                            Participated in all aspects of the web development lifecycle, from requirements gathering to deployment and maintenance.
                          </li>

                        </ul>

                       <ul>

                         <b
                           >Skills: Angular | JavaScript | TypeScript |
                           Bootstrap | GitHub | Trello </b
                         >
                       </ul>

                      </div>
                    </div>
                  </li>
                  <hr class="dropdown-divider mb-3" />
                  <!-- Timeline item-->
                  <li class="pb-4">
                    <div class=""></div>
                    <div class="row gx-0 gy-1">
                      <div class="col-lg-5">
                        <p class="date fw-bold mb-2 text-sm">July 2018 - May 2021</p>
                        <h2 class="h5 mb-0 fw-bold">Web Developer</h2>
                        <p class="text-sm mb-0">Ashconcept Digital solutions</p>
                        <span class="small text-muted">Lagos, Nigeria</span>
                      </div>
                      <div class="col-lg-7">
                        <p class="des"></p>

                        <ul>
                          <li>
                            Developed diverse WordPress websites: ecommerce, business, blogs, and Learning Management System (LMS)
                          </li>
                          <li>
                            Utilized HTML, CSS, and JavaScript for interactive features.
                          </li>
                          <li>Customized ecommerce sites for seamless online transactions.</li>
                          <li>Collaborated with clients for tailored, visually appealing designs.</li>
                          <li>
                            Integrated plugins to enhance functionality and user engagement.
                          </li>
                          <li>Integrating payment gateway</li>
                          <li>
                            Optimized site speed, SEO, and overall performance.
                          </li>
                        </ul>
                        <ul>

                          <b
                            >Skills: WordPress | Elementor | WPBakery | HTML |
                            CSS | JavaScript | Graphic Design </b
                          >
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDUCATION -->
<div class="row bg-light" id="education">
  <div class="container">
    <div class="container text-left">
      <p class="tile text mt-5">EDUCATION </p>
      <!-- <p class="sub">Yes, I.ve been around.</p> -->
    </div>
    <div class="row">
      <div class="row">
        <div class="col-xl-12">
          <div class="content-column-content">
            <!-- Education Section-->
            <section class="py-5">
              <div class="container">
                <!--  Timeline -->
                <ul class="timeline">
                  <!-- Timeline item-->
                  <li class="timeline-item pb-4">
                    <div class="timeline-arrow"></div>
                    <!-- <div class="row gx-0 gy-4 mb-5">
                      <div class="col-lg-5">
                        <p class="date fw-bold mb-2 text-sm">2023</p>
                        <h2 class="h5 mb-0 fw-bold">Bachelor Degree</h2>
                        <p class="text-sm mb-0 text-black fw-800">
                         Business Administration - National Open University of Nigeria
                        </p>
                        <span class="small text-muted">Lagos, Nigeria</span>
                      </div>
                      <div class="col-lg-7">

                      </div>
                    </div> -->
                    <div class="row gx-0 gy-4">
                      <div class="col-lg-5">
                        <p class="date fw-bold mb-2 text-sm">2019 - 2021</p>
                        <h2 class="h5 mb-0 fw-bold">National Diploma</h2>
                        <p class="text-sm mb-0 text-black fw-800">
                         Business Administration - Yaba College of Technology
                        </p>
                        <span class="small text-muted">Lagos, Nigeria</span>
                      </div>
                      <div class="col-lg-7">
                        <!-- <p class="des py-2"></p>
                        <ul>
                          <li>
                            Developed software for desktop and mobile operating
                            systems.
                          </li>
                          <li>
                            Coordinated with project management on database
                            development timelines.
                          </li>
                          <li>
                            Designed intuitive graphical user interfaces to
                            improve user experience.
                          </li>
                          <li>
                            Solved complex problems using the latest web
                            technologies.
                          </li>
                        </ul> -->
                      </div>
                    </div>

                  </li>
                  <!-- Timeline item-->
                </ul>
                <!-- <hr class="dropdown-divider"> -->
              </div>

            </section>

          </div>
        </div>
      </div>
    </div>
  </div>
   <!-- <div class="container" id="certificate">
    <div class="container text-left">
      <p class="tile text">CERTIFICATION</p>

    </div>
    <div class="row">
      <div class="row">
        <div class="col-xl-12">
          <div class="content-column-content">

            <section class="py-3">
              <div class="container">

                <ul class="timeline">

                  <li class="timeline-item pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row gx-0 gy-4 mb-4">
                      <div class="col-lg-4">
                        <p class="date fw-bold mb-2 text-sm">February 2022</p>
                        <h2 class="h5 mb-0 fw-bold">Frontend Development</h2>
                        <p class="text-sm mb-0 text-black fw-800">
                          Innkeeper
                        </p>

                      </div>
                      <div class="col-lg-4">
 <p class="date fw-bold mb-2 text-sm">August 2022</p>
                        <h2 class="h5 mb-0 fw-bold">SQL MasterClass</h2>
                        <p class="text-sm mb-0 text-black fw-800">
                          Udemy
                        </p>

                      </div>
                      <div class="col-lg-4">
 <p class="date fw-bold mb-2 text-sm">July 2021</p>
                        <h2 class="h5 mb-0 fw-bold">Digital Marketing Fundamental</h2>
                        <p class="text-sm mb-0 text-black fw-800">
                          India Institute of Digital Education
                        </p>

                      </div>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="row gx-0 gy-4">
                      <div class="col-lg-4">
                        <p class="date fw-bold mb-2 text-sm">June 2020</p>
                        <h2 class="h5 mb-0 fw-bold">WordPress Development</h2>
                        <p class="text-sm mb-0 text-black fw-800">
                          Webbit Technologies
                        </p>

                      </div>
                      <div class="col-lg-4">
 <p class="date fw-bold mb-2 text-sm">June 2022</p>
                        <h2 class="h5 mb-0 fw-bold">Project Management</h2>
                        <p class="text-sm mb-0 text-black fw-800">
                          Simplilearn
                        </p>

                      </div>
                      <div class="col-lg-4">
 <p class="date fw-bold mb-2 text-sm">September 2021</p>
                        <h2 class="h5 mb-0 fw-bold">Graphic Design MasterClass</h2>
                        <p class="text-sm mb-0 text-black fw-800">
                          VSL Concepts
                        </p>

                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>

<!-- CONTACT -->
<div class="row text-center" id="contact">
  <div class="col-lg-12">
    <div class="contactInfo">
      <div class="py-3">
        <h3 class="touch mt-5 mb-2">Let's get in touch</h3>
        <p class="des">
          Contact me with the following details
        </p>
        <div class="info py-2">
          <p class="desfoot">
            <i class="bi bi-geo-alt"></i> Oworoshoki Lagos, Nigeria
          </p>
        </div>
        <div class="info mb-2">
          <p class="desfoot">
            <i class="me-2 bi bi-envelope-fill"></i>Pius1ash@gmail.com
          </p>
        </div>
        <div class="info">
          <p class="desfoot">
            <i class="me-1 bi bi-telephone"></i>+2349052794388
          </p>
        </div>
        <div class="social-media">
          <p class="des">Connect with me :</p>
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/piusash/"
            target="_blank"> <i class="foot bi bi-linkedin"></i> </a>
            <a href="https://www.github.com/PiusAsh/"
            target="_blank"> <i class="foot bi bi-github"></i> </a>
            <a href="https://www.facebook.com/piusashohgbon.godwin/"
            target="_blank"> <i class="foot bi bi-facebook"></i> </a>
            <a href="https://www.instagram.com/in/piusash/"
            target="_blank"> <i class="foot bi bi-instagram"></i> </a>
            <a href="https://twitter.com/Ashnaija"
            target="_blank"> <i class="foot bi bi-twitter"></i> </a>


          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-lg-6 contactBg">
    <div class="contactForm">
      <form autocomplete="off">
        <h3 class="title">Contact us</h3>
        <div class="mb-2">
          <input type="email" class="input" id="name" placeholder="Name" />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="input"
            id="email"
            placeholder="Email Address"
          />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="input"
            id="phone"
            placeholder="Phone Number"
          />
        </div>
        <div class="mb-2">
          <textarea
            id="message"
            placeholder="Enter your message"
            class="input"
          ></textarea>
        </div>


        <button type="submit" class="btn btn-primary w-100">
          Send Message
        </button>
      </form>
    </div>
    <p class="text-white text-center mb-2">
      © 2022 | Pius Ashogbon. All Rights Reserved.
    </p>
  </div> -->
</div>
<!-- CONTACT -->
