<!-- Vertical Navbar -->
<nav
class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light border-bottom border-bottom-lg-0 border-end-lg" style=" background-color: #112A48;"
id="navbarVertical" 
>
<div class="container-fluid">
  <!-- Toggler -->
  <button
    class="navbar-toggler ms-n2"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarCollapse"
    aria-controls="sidebarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Brand -->
  <!-- <a class="navbar-brand py-lg-3 mb-lg-3 px-lg-6 me-0" href="#">
    <img
      src="/assets/images/logo.jpg"
      alt="..." style="height: 100px;"
    />
  </a> -->
  <!-- User menu (mobile) -->
  <div class="navbar-user d-lg-none d-sm-none">
    <!-- Dropdown -->
    <div class="dropdown">
      <!-- Toggle -->
      <a
        href="#"
        id="sidebarAvatar"
        role="button"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <div class="avatar-parent-child">
          <img
            alt="Image Placeholder"
            src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80"
            class="avatar avatar- rounded-circle"
          />
          <span class="avatar-child avatar-badge bg-success"></span>
        </div>
      </a>
      <!-- Menu -->
      <div
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="sidebarAvatar"
      >
        <a href="#" class="dropdown-item">Profile</a>
        <a href="#" class="dropdown-item">Settings</a>
        <a href="#" class="dropdown-item">Billing</a>
        <hr class="dropdown-divider" />
        <a href="#" class="dropdown-item">Logout</a>
      </div>
    </div>
  </div>
  <!-- Collapse -->
  <div class="collapse navbar-collapse" id="sidebarCollapse">
    <!-- Navigation -->
    <ul class="navbar-nav text-center px-5">
      <li class="nav-item px-5">
        <a class="nav-link text-white" routerLink="/user">
          <i class="bi bi-house"></i> HOME
        </a>
      </li>
      <li class="nav-item px-5">
        <a class="nav-link text-white" routerLink="/user-booking">
          <i class="bi bi-person-square"></i>ABOUT
        </a>
      </li>
      <li class="nav-item px-5">
        <a class="nav-link text-white" routerLink="/user-booking">
          <i class="bi bi-bar-chart"></i>SKILLS
        </a>
      </li>

      <li class="nav-item px-5">
        <a class="nav-link text-white" routerLink="">
          <i class="bi bi-bar-chart"></i>EXPERIENCE
        </a>
      </li>
      <li class="nav-item px-5">
        <a class="nav-link text-white" routerLink="/account-details">
          <i class="bi bi-person-square"></i> PORTFOLIO
        </a>
      </li>
      <li class="nav-item px-5">
        <a class="nav-link text-white" routerLink="/account-details">
          <i class="bi bi-box-arrow-left"></i> CONTACT
        </a>
      </li>

      <h2 class="followText py-2">Social Handles:</h2>
                <div class="iconss">

                    <!-- Add font awesome icons -->
                    <a href="https://www.github.com/PiusAsh/" target="_blank" class="bi bi-github"></a>
                    <a href="https://twitter.com/Ashnaija" target="_blank" class="bi bi-twitter"></a>
                    <a href="https://www.linkedin.com/in/piusash/" target="_blank" class="bi bi-linkedin"></a>
                    <a href="https://www.linkedin.com/in/piusash/" target="_blank" class="bi bi-instagram"></a>
                    <a href="https://www.facebook.com/piusashohgbon.godwin/" target="_blank" class="bi bi-facebook"></a>
                </div>
    </ul>

     
    <!-- Divider -->
    <!-- <hr class="navbar-divider my-5 opacity-20" /> -->
    <!-- Navigation -->

    <!-- Push content down -->
  </div>
</div>
</nav>